.variants {
    display: flex;
    flex-direction: column;
    gap: 5px;

    list-style-type: none;
}

.variant label {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 18px;
}

.variant input {
    width: 20px;
    height: 20px;
}
